<body class="contact">
<div class="contact">
 <h2>Contact:</h2>
 <p> MVOGO NGANOMA JOSEPH</p>
  <p> BP 11035 YAOUNDÉ</p>
  <p> Tel: 699 59 02 70 / 677 15 90 73 / 698 23 86 72</p>
  <p> Email: <a href="mailto:ericmvogo@yahoo.fr" title="click here in view to send me an email"> ericmvogo@yahoo.fr</a></p>
</div>


<form (ngSubmit)="envoyer(f.value)" #f="ngForm">
<div class="message">
  <h2>Me contacter:</h2>
  <label>Nom*: </label>
  <div><input type="text" ngModel required maxlength="10" name="firstname" #firstname=
    "ngModel"></div>
    <div *ngIf="firstname.dirty && firstname.hasError('required')">firstname is
      required
    </div>
<label>Prenom*:</label>
<div><input type="text" ngModel required maxlength="10" name="lastname"  #lastname=
  "ngModel"></div>
<div *ngIf="lastname.dirty && lastname.hasError('required')">lastname is
  required
</div>
<label>Sujet*:</label>
<div><input type="text" ngModel required maxlength="10"  name="subject"  #subject=
  "ngModel"></div>
<div *ngIf="subject.dirty && subject.hasError('required')">subject is
  required
</div>
<label>Message</label>
<div><textarea placeholder="text" maxlength="300" name="message"></textarea></div> 
<button class="btn btn-primary" type="submit" [disabled]="f.invalid">Envoyer</button>
 </div>
 </form>
</body>

