

<body class="accueil">
<p><a><img src=".\assets\images\first_book.png" alt="first_book" height="150" width="150"></a></p>
<h4>
  <strong>L'identite historique et anthropogique des ekang-beti une composante</strong>
</h4>
<p class="description"> 
  Le présent ouvrage présente l'identité historique du peuple ekang-beti, une composante bantou,<br>
  comme une société des modèles de l'éthique et de l'esthétique, du vivre-ensemble à travers les sagesses,<br>
  les rites, proverbes et vision du monde, une philosophie et une spiritualité qui, chez nos ancêtres,<br>
  ont produit des <<aristricrates de l'esprit>> avec des savoirs-être dire et faire puissant dans une tradition<br>
  séculaire et humaniste, véritable constitution non écrite.
</p>
</body>