  
body.class{
    width: 400;
    position: relative;
    left: 250px
  }
    p.description {
      width: 1000px;
      padding: 20px;
      text-align: justify;
    }
  
    p {
      padding: 20px;
    }
  h3 {
    text-align: justify;
    padding: 20px;
  
  }
  img {
    position: relative;
    border: 5px solid navy;
    margin:auto;
    left: 150px;
  }
  
  
  