

<body class="accueil">
  <p><a><img src="./assets/images/Joseph_Mvogo.png" alt="photo_mvogo_joseph" height="300" width="400"></a></p>
  <h3>
    <strong>Je suis Monsieur MVOGO NGANOMA JOSEPH</strong>
  </h3>
  <p class="description"> Inspecteur principal des postes et Télécommunications
    Retraité, Né le 27 juillet 1943 à Nkolfon, arrondissement de Yaoundé III, départment du Mfoundi, 
    est diplômé de l'Ecole Nationale Supérieure des Postes et Télécommunications Yaoundé,
    diplômé d'Etudes comptables Supérieures (DECS) de l'Acedémie de Paris, et diplômé du centre international
    de Perfectionnement des cadres des postes et Télécommunications (CIPEC-PT) de Toulouse. Il a occupé
    d'importants postes de responsabilité dans la fonction publique camerounaise. Il est chevalier de l'ordre
    national de la valeur (1988) et officier de l'ordre national de la valeur (1996), chercheur en anthropologie 
    et auteur du livre Beling-mombo Ntol Bene Edition Saint-Paul 2008.
  </p>
  
  <p>
    - Ancien président national des Mvogo-Belinga du cameroun.<br>
    - Ancien secrétaire général de l'association des Elites du département du Mfoundi (ASFESEM).<br>
   - Ancien secrétaire général et cofondateur de l'association des patriaches beti, autochones du Mfoundi.<br>
   - Ancien conseiller municipal et grand conseiller à la communauté urbaine de Yaoundé.<br>
   - Notable et patriache Mvogo-Belinga du clan Bene.
  
  </p>
  
  
  <audio controls loop>
    <!-- <source src="horse.ogg" type="audio/ogg"> -->
    <source src="assets\Audio\C4 Pedro - Céu ft. Bernice Burgos.mp3" type="audio/mpeg">
  
  </audio>
  </body>